<div class="all">
    <div class="up">
    <p style="font-family: 'Nanum Myeongjo', serif;font-size: 43px;">Our Plants</p>
    <p style="font-size: 18px;padding-top: 1.5em;">Choose the best from our site for your house and Family.</p>
    <p style="font-size: 18px;">Go green with Crosby!</p>
    </div>
    <div class="grid">
        <div class="itme" id="img1" >  </div> 
        <div class="itme" id="img2" ></div> 
        <div class="itme" id="img3" ></div> 
        <div class="itme" id="img4"></div> 
        <div>Lily Plant</div>
        <div>Pencil  Plant</div>
        <div>Alocasia Plant</div>
        <div>Snake Plant</div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div class="itme" id="img5" ></div>
        <div class="itme" id="img6"></div>
        <div class="itme" id="img7" ></div>
        <div class="itme" id="img8"></div>
        <div>Orchid Plant</div>
        <div>Pink Calathea</div>
        <div>Maiden Hair</div>
        <div>Cactus Plant</div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div class="itme" id="img9"></div>
        <div class="itme" id="img10"></div>
        <div class="itme" id="img11" ></div>
        <div class="itme" id="img12" ></div>
        <div>Fern Plant</div>
        <div>Palm Plant</div>
        <div>Pothos Plant</div>
        <div>Dracaen Plant</div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
        <div><button class="button">Buy Now</button></div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
